"Library/" 
"Logs/" 
"obj/" 
"packaje/" 
"packages/" 
"Packages/" 
"ProjectSettings/" 
"UserSettings/" 
".vs/" 
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
sysinfo.txt
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vscode/
.vs
ProjectSettings/